<html>
	<body>
		<p>Hi ${username},</p>
		<p>Somebody recently asked to reset your GetDoc password.</p>
		<p><a href="${url}">Click here to change your password.</a></p>
		<p>Didn't request this change?</p>
		<p>If you didn't request a new password, let us know immediately.</p>
		<p>Thanks,</p>
		<p>Admin GetDoc</p>
	</body> 
</html>